/*mobile-first*/

body {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

.top-header {
    background-color: gray;
    height: 4em;
    padding: 1em;
}
.right {
    float: right;
}
.logo{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
}
li {
    display: inline-block;
    padding: .5em;
    font-size: 0.875rem;
}

.second-header{
    background-color: black;
    height: 250px;
}
.maintitle {
    padding: 100px 0;
}
h1 {
    color: yellow;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
}

.container {
    margin: 1em;  
    min-width: 300px;
}
.top , .middle , .bottom {
    padding: 10px;

}

.greenbox {
    width: 250px;
    height: 250px;
    background-color: turquoise;
    border-radius: 10%;
    margin: 0 auto;
}

.orangebox {
    width: 325px;
    height: 200px;
    background-color: orange;
    margin: 0 auto;
}
.bottom {
    width: 325px;
    margin: 0 auto;
}
img {
    width: 300px;
}

.bottom-left {
    padding-bottom: 30px;
}

@media (min-width: 768px){


    .greenbox {
        background-color: turquoise;
        width: 200px;
        height: 200px;
        display: inline-block;
        border-radius: 10px;  
    }
    .orangebox {
        display: inline-block;
        background-color: orange;
    }
    .top , .middle , .bottom {
        text-align: center;
    
    }

}